@media print {
	@page {
		size: A3;
	}
	body {
		font-size: 12pt;
	}
	.sidebar-wrapper .avatar {
		max-width: 50% !important;
	}
	.main-wrapper .time {
		float: right;
		color: black !important;
		-webkit-print-color-adjust: exact;
	}
	.sidebar-wrapper {
		position: static;
		float: left;
		width: 280px;
		max-height: 100% !important;
		-webkit-print-color-adjust: exact;
	}
	.remove-container.container-block {
		display: none;
	}
	footer {
		display: none;
	}
	.skillset .level-bar-inner {
		background-color: black !important;
		-webkit-print-color-adjust: exact;
	}
	a[href]:after {
		display: none;
		visibility: hidden;
	}
}