/* Turquoise variables */
$theme-color: #ffffff;
$text-color: #3F4650;
$text-color-secondary: #000000;
$text-grey: #97AAC3;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #f5f5f5;
$profile-container-background: #ffffff;
$heart: #fb866a;
$profile-container-text-color: #000000;
$links-text-color : #428bca;
$section-title-color : #000000;
